<h1>About</h1>
<div>
<p>The UsedOffer website is a platform for OSU students to sell/buy used items. Each students should first create an accout to enable all functions. Once logged in, they can view current posted items, post their own items, and add listed items into shopping carts. Once they purchase all items in shopping carts, the shopping cart will be cleared, and the transaction will appears in their account.</p>
</div>
<%= render 'layouts/footer' %>