<p id="notice"><%= notice %></p>

<h1>Items</h1>

<h2>You haven't posted any item on sale yet.</h2>

<br>

<%= link_to 'Post a new item on sale!', new_item_path %>
<br>
<%= link_to 'Back to homepage', root_path %>
