<h1>
  Sell an item
  <small class="text-muted">Or donate it. Don't pitch it.</small>
</h1>
<%= render 'form', item: @item %>

<a class="btn btn-primary" href=<%= root_path %> role="button">Go back to home page</a>
<%= render 'layouts/footer' %>
